.desktopNav {
  display: flex;
  flex-direction: column;
}

/* Top Nav CSS STart */

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 15px 0;
  gap: 40px;
}

.topNav > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.topNav > div:nth-child(1) > div:nth-child(1) > img {
  width: 76px;
  height: 60px;
}

.topNav > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  color: rgba(79, 79, 79, 0.6);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.topNav > div:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #000;
}

.topNav > div:nth-child(1) > div:nth-child(2) > input {
  border-radius: 39px 0px 0 39px;
  background: #d9d9d9;
  padding: 5px;
  border: none;
}

.topNav > div:nth-child(1) > div:nth-child(2) > input::placeholder {
  text-align: center;
}

.topNav > div:nth-child(1) > div:nth-child(2) > button {
  border-radius: 0px 39px 39px 0px;
  background: #ff5604;
  padding: 5px 15px;
  border: none;
  color: #fff;
}

.logoName {
  color: #ff5604;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.viewAcc {
  color: rgba(79, 79, 79, 0.6);
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Bottom Nav CSS Start */

.bottomNav {
  padding: 10px 0;

  background-color: #1d1d1d;
}

.bottomNav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.bottomNav > div > p > a {
  text-decoration: none;

  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Banner CSS Start */

.bannerImg {
  height: 500px;
  object-fit: cover;
}

/* section marging  */

.mbt {
  width: 90%;
  margin: 50px auto;
}

/* title for All */

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.title > p:nth-child(1) {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title > p:nth-child(2) > a {
  color: #ff5604;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

/* In Demand Start CSS */

.demandBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.demandBoxes > img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.demandBoxes > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #1d1d1d;
  padding: 25px 25px;
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

.demandBoxes > div > p:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
}

.demandBoxes > div > p:nth-child(2) {
  font-size: 36px;
  font-weight: 400;
}

.demandBoxes > div > p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  width: 68%;
}

/* Sale Poster start */

.salePoster {
  margin: 100px 0;
}
.salePosterCollection {
  margin: 50px 0;
}
.salePoster > img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.salePosterCollection > img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

/* Dual Sale Poster start */

.dualSalePoster {
  margin: 100px 0;
}
.dualSalePoster > div > img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

/* Beauty Products Start Css */

.beautyProductsBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 45px;
}

.beautyProductsBoxes > img {
  width: 307px;
  height: 260px;
  object-fit: cover;
}

.beautyProductsInnerBox2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.beautyProductsInnerBox2 > p:nth-child(1) {
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.beautyProductsInnerBox2 > p:nth-child(2) {
  color: #0f1111;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.rating > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: #f2b400;
}

.rating > div > p > i {
  font-size: 25px;
}

.rating > p:nth-child(2) {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.price > p:nth-child(1) {
  color: #151515;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.price > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.price > div > p {
  color: #565959;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.price > div > p:nth-child(2) {
  text-decoration: line-through;
}

.off {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.off > p:nth-child(1) {
  padding: 7px 6px;
  border-radius: 2px;
  background: #ff5604;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}

.off > p:nth-child(2) {
  color: #ff5604;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}

/* Fashion Start CSS */

.fashionBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.fashionInnerBox1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.fashionInnerBox1 > p {
  padding: 7px 6px;
  border-radius: 2px;
  background: #ff5604;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}

.fashionInnerBox1 > img {
  width: 120px;
  height: 365px;
  /* object-fit: cover; */
}

.fashionInnerBox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

.fashionInnerBox2 > p:nth-child(1) {
  font-size: 30px;
  font-weight: 600;
}

.fashionInnerBox2 > p:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

.fashionInnerBox2 > div:nth-child(3) > p {
  color: #ff5604;
}

/* social Media */

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.socialMedia > input {
  color: #263238;
  text-align: right;
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  border: none;
}

/* Footer start */

.mb {
  padding: 20px;
  background-color: #1d1d1d;
}
.footerBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 40px auto;
}
.footerBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerPar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}

.lowFoot {
  color: #fff;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* More Space */
.moreSpace {
  margin-top: 200px;
}

/* middle Title */

.mTitle > p {
  color: #4ec0ca;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 80px;
}

.mTitleCollections > p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 80px;
}

/* Mobile Nav Some CSS Codes */

.mobbs {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.mobimg {
  width: 55px;
  height: 50px;
}
.mobprofile {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 15px 0;
}
.mobach > li > a {
  color: rgba(79, 79, 79, 0.6);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mobinpbut > input {
  border-radius: 39px 0px 0 39px;
  background: #d9d9d9;
  padding: 5px;
  border: none;
}

.mobinpbut > input::placeholder {
  text-align: center;
}

.mobinpbut > button {
  border-radius: 0px 39px 39px 0px;
  background: #ff5604;
  padding: 5px 15px;
  border: none;
  color: #fff;
}

/* Media Queries */

@media all and (min-width: 320px) and (max-width: 767px) {
  /* navbar */
  .desktopNav {
    display: none;
  }

  .bannerImg {
    height: 200px;
  }

  .salePoster > img {
    height: 140px;
    object-fit: fill;
  }

  .dualSalePoster > div > img {
    height: 140px;
    object-fit: fill;
  }

  .salePosterCollection > img {
    height: 120px;
  }

  .mTitleCollections > p {
    font-size: 40px;
  }

  .demandBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  .beautyProductsBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  .fashionBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  .footerBlock {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  /* navbar */
  .desktopNav {
    display: none;
  }

  .bannerImg {
    height: 380px;
  }

  .demandBlock {
    grid-template-columns: repeat(2, 1fr);
  }

  .demandBoxes > div {
    height: 200px;
  }

  .salePoster > img {
    height: 215px;
  }

  .beautyProductsBlock {
    grid-template-columns: repeat(2, 1fr);
  }

  .dualSalePoster > div > img {
    height: 215px;
  }

  .salePosterCollection > img {
    height: 215px;
  }

  .mTitleCollections > p {
    font-size: 40px;
  }

  .fashionBlock {
    grid-template-columns: repeat(2, 1fr);
  }

  .footerBlock {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
  .mobNav {
    display: none;
  }

  /* Navbar Desk */

  .topNav {
    gap: 30px;
  }

  .topNav > div:nth-child(1) {
    width: 40%;
    gap: 25px;
  }

  .topNav > div:nth-child(1) > img {
    width: 65px;
    height: 55px;
  }

  .topNav > div:nth-child(2) {
    font-size: 17px;
    width: 70%;
    gap: 25px;
  }

  .bottomNav > div > p > a {
    font-size: 20px;
  }

  /* Navbar Desk ENd */

  .bannerImg {
    height: 450px;
  }

  .beautyProductsBlock {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .beautyProductsBoxes > img {
    width: 250px;
    height: 220px;
  }

  .rating > div {
    gap: 10px;
  }

  .rating {
    gap: 15px;
  }

  .demandBoxes > div {
    height: 200px;
  }

  .demandBoxes > div > p:nth-child(3) {
    width: 100%;
  }

  .salePoster > img {
    height: 290px;
  }
  .dualSalePoster > div > img {
    height: 290px;
  }

  .salePosterCollection > img {
    height: 290px;
  }
}

@media all and (min-width: 1440px) {
  .mobNav {
    display: none;
  }
}
